<div class="mat-elevation-z8">
  <div class="row no-padding no-margin">
    <div class="col-md-6" style="padding-left: 40px;">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Select City</mat-label>
        <mat-select (selectionChange) = "getBankLists($event)" [(value)]="selectedCity">
          <mat-option value="MUMBAI">Mumbai</mat-option>
          <mat-option value="KOLKATA">Kolkata</mat-option>
          <mat-option value="DELHI">Delhi</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="bank_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.bank_id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="bank_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.bank_name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch </th>
      <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ifsc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> IFCS </th>
      <td mat-cell *matCellDef="let element"> {{element.ifsc}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<router-outlet></router-outlet>